@import "./components/MobileTab";
@import "./admin/components/MobileTabVariants";

.MobileTabSettingsPage {
  > .container > .FormSectionGroup > .FormSection {
    margin-bottom: 1.8rem;
  }
}

.MobileTabAvailableItems-list {
  list-style: none;
  padding-left: 0;
  gap: 1em;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(84px, 1fr));
  height: auto;
  margin-block: 1rem;

  > li {
    flex-basis: 33%;
  }
}

.MobileTabPreview {
  position: static;

  @media @tablet-up {
    display: block;
  }

  &-items {
    gap: 0.3rem;
  }
}

.MobileTab-item {
  &:not(&--editable) {
    cursor: grab;

    &:active{
      cursor: grabbing;
    }
  }
}

.EditCustomTabItemModal {
  &-delete {
    margin-left: auto;
  }
}
